/* ----------------------------- */
/************ ROOT VARIABLES ******** */
/* ----------------------------- */

:root {
  /* The designs were created to the following widths: */
  --mobile: 375px;
  --desktop: 1440px;

  /* ## Colors */
  /* ----------------- */

  /* ### Primary */

  --Very-dark-grayish-blue: 217, 19%, 35%;
  --Moderate-violet: 263, 55%, 52%;
  --Very-dark-blackish-blue: 219, 29%, 14%;
  --White: 0, 0%, 100%;

  /* ### Neutral */

  --Light-gray: 0, 0%, 81%;
  --Light-grayis-blue: 210, 46%, 95%;

  /* Note for text colors: */

  /* 1. "Verified Graduate" has the same color as the person's name with 50% opacity */
  /* 2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity */

  /* ## Typography */

  /* ### Body Copy */

  --body-font-size: 13px;
  --weights-500: 500;
  --weights-60: 60;
  /* ### Font */

  /* - Family: [Barlow Semi Condensed](https://fonts.google.com/specimen/Barlow+Semi+Condensed) */
  /* - Weights: 500, 60 --> */
}

/* <!-- Feel free to remove these styles or customise in your own stylesheet 👍 --> */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ----------------------------- */
/************ HARD RESET******** */
/* ----------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Barlow Semi Condensed", Georgia;
  background-color: hsl(var(--Light-grayis-blue));
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------------- */
/************ LAYOUT ************/
/* ----------------------------- */
.container {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 15px;
  grid-template-areas:
    "a a b e"
    "c d d e";
  justify-content: center;
  align-content: center;
  height: 100%;
  margin: 3% auto;
}
.card {
  display: grid;
  border-radius: 12px;
  padding: 20px;
  grid-template-columns: 60px 1fr;
  
  box-shadow: 4px 2px 6px hsla(240, 2%, 9%, 0.349);
  
}

.card-1 {
  grid-area: a;
  background-color: hsl(var(--Moderate-violet));
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 80% 0%;
}
.card-2 {
  grid-area: b;
  background-color: hsl(var(--Very-dark-grayish-blue));
}
.card-3 {
  grid-area: c;
  background-color: hsl(var(--White));
}
.card-4 {
  grid-area: d;
  background-color: hsl(var(--Very-dark-blackish-blue));
}
.card-5 {
  grid-area: e;
  background-color: hsl(var(--White));
}
.status {
  display: block;
  font-size: 11px;
  color: hsl(var(--White));
  opacity: 50%;
  font-weight: var(--weights-500);
}

img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
/* ----------------------------- */
/************ TYPOGRAPHY ************/
/* ----------------------------- */

.heading {
  font-size: 19px;
  line-height: 1.2;
  color: hsl(var(--White));
  font-weight: var(--weights-500);
  grid-column: span 2;
  
}

p {
  font-size: 14px;
  color: hsl(var(--White));
  opacity: 70%;
  grid-column: span 2;
  text-align: justify;
}

/* ----------------------------- */
/************ STYLE MODIFIER ************/
/* ----------------------------- */
.name {
  color: hsl(var(--White));
  align-items: center;
}

.card-5 .name, .card-3 .name {
  color: hsl(var(--Very-dark-grayish-blue));
}
.card-5 .heading, .card-3 .heading {
  color: hsl(var(--Very-dark-grayish-blue));
}
.card-5 p, .card-3 p {
  color: hsl(var(--Very-dark-grayish-blue));
  opacity: 70%;
}
.card-5 .status, .card-3 .status {
  color: hsl(var(--Very-dark-grayish-blue));
  opacity: 50%;
  font-weight: var(--weights-500);
}

.card-1 img , .card-4 img {
  border: 2px solid hsl(263, 80%, 71%);

}


@media only screen and (max-width: 1100px) {
  .container {
    grid-template-columns: repeat(4, 200px);
  }
  .heading {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }

}

@media only screen and (max-width: 850px) {
  .container {
    grid-template-columns: fit-content(240px);
    grid-template-rows: fit-content(160px);
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e";
  }
  .card {
    grid-template-rows: 60px fit-content(100px)  fit-content(150px);
    grid-gap: 10px;

  }
  .heading {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }

}
@media only screen and (max-width: 520px) {
.container {
  margin: 3% 3%;
}

}
@media only screen and (max-width: 220px) {
  .card {
    grid-template-columns: 40px 1fr;
  }
.name {
  grid-gap: 0px;
  margin: 0;
}

}
